@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("c2.com") {
  body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
}
